<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="Gatewaynode a personal site" name="description"/>
    <meta content="Gatewaynode" name="author"/>
    <title>GatewayNode</title>
    <link href="/static/bootstrap5/dist/css/dark.css" rel="stylesheet"/>
  </head>
  <body data-layout="fluid" data-sidebar-behavior="sticky" data-sidebar-position="left" data-theme="default">
    <div class="wrapper">
      <nav class="sidebar" id="sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="/" title="Home">
            <svg
              enable-background="new 0 0 20 20"
              height="20px"
              version="1.1"
              viewbox="0 0 20 20"
              width="20px"
              x="0px"
              xml:space="preserve"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://www.w3.org/2000/svg"
              y="0px">
              <path d="M19.4,4.1l-9-4C10.1,0,9.9,0,9.6,0.1l-9,4C0.2,4.2,0,4.6,0,5s0.2,0.8,0.6,0.9l9,4C9.7,10,9.9,10,10,10s0.3,0,0.4-0.1l9-4 C19.8,5.8,20,5.4,20,5S19.8,4.2,19.4,4.1z"/>
              <path d="M10,15c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5 c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,15,10.1,15,10,15z"/>
              <path d="M10,20c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5 c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,20,10.1,20,10,20z"/>
            </svg>
            <span class="align-middle me-3">GatewayNode</span>
          </a>
          <ul class="sidebar-nav">
            <li class="sidebar-header">
              Nodes
            </li>
            {% for key, value in main_menu %}
              <li class="sidebar-item">
                <a
                  class="sidebar-link collapsed" href="{{ value.relative_path }}">
                  {# data-bs-target="#dashboards" data-bs-toggle="collapse"> #}
                  <i class="align-middle" data-feather="disc"></i>
                  <span class="align-middle">{{ key }}</span>
                  <span class="badge badge-sidebar-primary">{{ value.number_of_files }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
      <main class="content">
        <div class="container-fluid p-0">
          <h1 class="h3 mb-3">{{ content.title }}</h1>
          <small alt="Creation time">{{ content.created }}<small>
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title mb-0">{{ content.body }}</h5>
                    </div>
                    <div class="card-body"></div>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        {{ __tera_context }}
        <script src="/static/bootstrap5/dist/js/app.js"></script>
      </body>
    </html>
  </body>
</html>