{% extends "base-testing" %}
{% block content %}
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="card">
          <div class="card-body h-100">
          {# Sticky a top post #}
            <div class="d-flex align-items-start sticky">
              {# Make sure you have a column div to stay responsive #}
              <div class="col-12">
                <div class="flex-grow-1">
                    <h3>TITLE</h3>
                    CONTENT?
                </div>
              </div>
            </div>
          </div>
          {# Content List Begin #}
          HERE BE TESTING
        </div>
      </div> <!-- End Cards -->
        
        <div class="card-body">
          <div class="d-grid">
            <a class="btn btn-primary" href="/blog">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> Extra? -->
    <script src="/static/bootstrap5/dist/js/code.js"></script>

{% endblock  content %}